@using WebApplication1.Models
@model List<TblExamene>
    @{
    ViewBag.Title = "Examen";
    }

    <h2>@ViewBag.Title</h2>
    <hr />


    @if (Model != null)
{
    <div class="container mt-3">
        <h2>Examen</h2>
        @Html.ActionLink("Nuevo", "newExamen", "Examen", new { @class = "btn btn-primary" })
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Gestion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
                    <td>@item.Precio</td>

                    <td>

                        <input onclick="document.location.href='@Url.Content("~/Examen/modificarExamen/" + item.IdExamen)'" type="button" value="Editar" class="btn btn-warning" />
                        <input onclick="eliminarExamen('@item.IdExamen','@item.Nombre');" type="button" value="Eliminar" class="btn btn-danger" />

                    </td>
                   </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container mt-3">
        <h2>No hay examen</h2>
    </div>
}
           <script>

    function eliminarExamen(id,Examen) {

        if (confirm(`Esta Seguro de Eliminar Este Examen: ${Examen} ?????` )) {
            url = "@Url.Content("~/Examen/eliminarExamen/")" + id;
            $.get(url).done((data) => {
                if (data == "Exito") {
                    document.location.href = "@Url.Content("~/Examen/Index")";
                } else {
                    alert("Ocurrio un Error :c");
                }
            });
        }
    }
           </script>

