@model WebApplication1.Models.TblExamene
@{
    ViewBag.Title = "Agregar Examen";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("agregarExamen", "Examen", FormMethod.Post))
{

    <div class="mb-3 mt-3">
        @Html.LabelFor(m => m.Nombre)
        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
    </div>
    <div class="mb-3 mt-3">
        @Html.LabelFor(m => m.Descripcion)
        @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control" })
    </div>
    <div class="mb-3 mt-3">
        @Html.LabelFor(m => m.Precio)
        @Html.TextBoxFor(m => m.Precio, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Agregar Examen</button>
}