@model WebApplication1.Models.Examen
@{
    ViewBag.Title = "Agregar Examen";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Action", "Controller", FormMethod.Post, new { role = "form", @class = "" }))
{


<div class="mb-3 mt-3">
    @Html.LabelFor(m => m.nombre)
    @Html.TextBoxFor(m => m.nombre, new { @class = "form-control" })
</div>

<div class="mb-3 mt-3">
    @Html.LabelFor(m => m.descripcion)
    @Html.TextBoxFor(m => m.descripcion, new { @class = "form-control" })
</div>

<div class="mb-3 mt-3">
    @Html.LabelFor(m => m.precio)
    @Html.TextBoxFor(m => m.precio, new { @class = "form-control" })
</div>

<button type="submit" class="btn btn-primary">Agregar Examen</button>
}