@model WebApplication1.Models.Empleados
@{
    ViewBag.Title = "Agregar Empleado";
    List<SelectListItem> listadoCargos = ViewBag.listadoCargos;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Action", "Controller", FormMethod.Post, new { role = "form", @class = "" }))
{
    <div class="mb-3 mt-3">
        @Html.LabelFor(m => m.Nombre)
        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
    </div>

    <div class="mb-3 mt-3">
        @Html.LabelFor(m => m.Apellido)
        @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control" })
    </div>
    @Html.DropDownList("Cargos", listadoCargos, "Seleccionar un Cargo", new { @class = "form-control" })
    <button type="submit" class="btn btn-primary">Agregar Empleado</button>
}

