@model WebApplication1.Models.TblEmpleado
@{
    ViewBag.Title = "Agregar Empleado";
    List<SelectListItem> listadoCargos = ViewBag.listadoCargos;
    List<SelectListItem> listadoClinicas = ViewBag.listadoClinicas;
}

<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm("AgregarEmpleado", "Empleados", FormMethod.Post, new { role = "form", @class = "" }))
{
    <div class="mb-3 mt-3">
        @Html.LabelFor(m => m.CodigoEmpleado)
        @Html.TextBoxFor(m => m.CodigoEmpleado, new { @class = "form-control" })
    </div>
    <div class="mb-3 mt-3">
        @Html.LabelFor(m => m.Nombre)
        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
    </div>

    <div class="mb-3 mt-3">
        @Html.LabelFor(m => m.Apellido)
        @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control" })
    </div>
    <div class="mb-3 mt-3">
        @Html.LabelFor(m => m.Direccion)
        @Html.TextBoxFor(m => m.Direccion, new { @class = "form-control" })
    </div>
    <div class="mb-3 mt-3">
        @Html.LabelFor(m => m.Telefono)
        @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control" })
    </div>
    <label>Cargo:</label>
    @Html.DropDownList("IdCargo", listadoCargos, "Seleccionar un Cargo", new { @class = "form-control" })
    <br />
    <label>Clinica:</label>
    @Html.DropDownList("IdClinica", listadoClinicas, "Seleccionar una Clinica", new { @class = "form-control" })
    <br />
    <button type="submit" class="btn btn-primary">Agregar Empleado</button>
}

