@using WebApplication1.Models
@model List<TblMarca>
    @{
    ViewBag.Title = "Marcas";
    }

    <h2>@ViewBag.Title</h2>
    <hr />


    @if (Model != null)
{
    <div class="container mt-3">
        <h2>Marcas</h2>
        @Html.ActionLink("Nuevo", "newMarcas", "Marca", new { @class = "btn btn-primary" })
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Gestiones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Marca</td>
                    <td>
                        <input onclick="document.location.href='@Url.Content("~/Marca/modificarMarca/" + item.IdMarca)'" type="button" value="Editar" class="btn btn-warning" />
                        <input onclick="EliminarMarca('@item.IdMarca','@item.IdMarca');" type="button" value="Eliminar" class="btn btn-danger" />
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container mt-3">
        <h2>No hay Marcas</h2>
    </div>
}
    <script>
        function EliminarMarca(id,Marca) {
        if (confirm(`Esta Seguro de Eliminar A Esta Marca: ${Marca} ?????` )) {
            url = "@Url.Content("~/Marca/eliminarMarca/")" + id;
            $.get(url).done((data) => {
                if (data == "Exito") {
                    document.location.href = "@Url.Content("~/Marca/Index")";
                } else {
                    alert("Hubo un error");
                }
            });
        }
    }
    </script>



    
