
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consulta</h2>

<div class="jumbotron" align="center">
    <h1>Seleccione la consulta que desea ver</h1>

    <p>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Consulta", "Index", "ConsultaI")</li>
            <li>@Html.ActionLink("Paciente", "Index", "Pacientes")</li>
            <li>@Html.ActionLink("Diagnostico", "Index", "DiagnosticoI")</li>
            <li>@Html.ActionLink("Examen Consulta", "Index", "ExamenConsultaI")</li>
            <li>@Html.ActionLink("Examen", "Index", "ExamenI")</li>
            <li>@Html.ActionLink("Receta", "Index", "RecetaI")</li>
            <li>@Html.ActionLink("Habitacion", "Index", "HabitacionI")</li>
            <li>@Html.ActionLink("Paciente Habitacion", "Index", "PacienteHabitacionI")</li>
        </ul>
    </p>
</div>


<p></p>