@using WebApplication1.Models
@model List<HabitacionesViewModel>
@{
    ViewBag.Title = "Habitaciones";
}

<h2>@ViewBag.Title</h2>
<hr />


@if (Model != null)
{
    <div class="container mt-3">
        <h2>Habitaciones</h2>
        @Html.ActionLink("Nuevo", "newHabitaciones", "Habitacion", new { @class = "btn btn-primary" })
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>No. Habitacion</th>
                    <th>Clinica</th>
                    <th>Cantidad de Pacientes</th>
                    <th>Gestion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.no_habitacion</td>
                        <td>@item.nombre</td>
                        <td>@item.CantidadPacientes</td>
                        <td>
                            <input onclick="document.location.href='@Url.Content("~/Habitacion/modificarHabitacion/" + item.idHabitacion)'" type="button" value="Editar" class="btn btn-warning" />
                            <input onclick="eliminarHabitacion('@item.idHabitacion', '@item.idHabitacion');" type="button" value="Eliminar" class="btn btn-danger" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container mt-3">
        <h2>No hay Diagnosticos</h2>
    </div>
}
<script>
        function eliminarHabitacion(id,Habitacion) {
            if (confirm(`Esta Seguro de Eliminar A Esta Habitacion: ${Habitacion} ?????` )) {
            url = "@Url.Content("~/Habitacion/eliminarHabitacion/")" + id;
            $.get(url).done((data) => {
                if (data == "Exito") {
                    document.location.href = "@Url.Content("~/Habitacion/Index")";
                } else {
                    alert("Hubo un error");
                }
            });
        }
    }
</script>
