@using WebApplication1.Models
@model List<TblDiagnostico>
@{
    ViewBag.Title = "Diagnosticos";
}

<h2>@ViewBag.Title</h2>
<hr />


@if (Model != null)
{
    <div class="container mt-3">
        <h2>Diagnosticos</h2>
        @Html.ActionLink("Nuevo", "newDiagnostico", "Diagnostico", new { @class = "btn btn-primary" })
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Gestion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Titulo</td>
                        <td>@item.Descripcion</td>
                        <td>
                            <input onclick="document.location.href='@Url.Content("~/Diagnostico/modificarDiagnostico/" + item.IdDiagnostico)'" type="button" value="Editar" class="btn btn-warning" />
                            <input onclick="eliminarDiagnostico('@item.IdDiagnostico','@item.Titulo');" type="button" value="Eliminar" class="btn btn-danger" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container mt-3">
        <h2>No hay Diagnosticos</h2>
    </div>
}
           <script>
        function eliminarDiagnostico(id,Diagnostico) {
        if (confirm(`Esta Seguro de Eliminar Este Diagnostico : ${Diagnostico} ?????` )) {
            url = "@Url.Content("~/Diagnostico/eliminarDiagnostico/")" + id;
            $.get(url).done((data) => {
                if (data == "Exito") {
                    document.location.href = "@Url.Content("~/Diagnostico/Index")";
                } else {
                    alert("Hubo un error");
                }
            });
        }
    }
           </script>
