@model WebApplication1.Models.TblCompra
@{
    ViewBag.Title = "Agregar Compra";
    List<SelectListItem> listadoProveedor = ViewBag.listadoProveedor;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddCompra", "Compra", FormMethod.Post, new { role = "form", @class = "" }))
{
<div class="mb-3 mt-3">
    @Html.LabelFor(m => m.NoOrden)
    @Html.TextBoxFor(m => m.NoOrden, new { @class = "form-control" })
</div>

<div class="mb-3 mt-3">
    @Html.LabelFor(m => m.FechaOrden)
    @Html.TextBoxFor(m => m.FechaOrden, new { @class = "form-control" })
</div>
@Html.LabelFor(m => m.IdProveedor)
@Html.DropDownList("IdProveedor", listadoProveedor, "Seleccionar un Producto", new { @class = "form-control" })
<button type="submit" class="btn btn-primary">Agregar Compra</button>
}



