@using WebApplication1.Models
@model List<VentaViewModel>
@{
    ViewBag.Title = "Ventas";
}

<h2>@ViewBag.Title</h2>
<hr />


@if (Model != null)
{
    <div class="container mt-3">
        <h2>Ventas</h2>
        @Html.ActionLink("Nuevo", "newVenta", "Venta", new { @class = "btn btn-primary" })
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Serie</th>
                    <th>Paciente</th>
                    <th>Numero</th>
                    <th>Fecha</th>
                    <th>Gestion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Serie</td>
                        <td>@item.Paciente</td>
                        <td>@item.Numero</td>
                        <td>@item.Fecha</td>
                        <td>
                            <input onclick="document.location.href='@Url.Content("~/Venta/Details/" + item.IdVentas)'" type="button" value="Ver Detalles" class="btn btn-warning" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container mt-3">
        <h2>No hay Diagnosticos</h2>
    </div>
}
