<<<<<<< HEAD
﻿@model WebApplication1.Models.TblLoteProducto
=======
﻿@using WebApplication1.Models
@model LoteProductos
>>>>>>> 18857b6bb0833709fb4ab1c219a7f8f5bc7055d6
@{
    ViewBag.Title = "Agregar Lote de Productos";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("agregarLoteProducto", "LoteProducto", FormMethod.Post))
{
<<<<<<< HEAD
=======

        @Html.HiddenFor(m=>m.IdLoteProductos)

<div class="mb-3 mt-3">
    @Html.LabelFor(m => m.Descripcion)
    @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control" })
</div>
>>>>>>> 18857b6bb0833709fb4ab1c219a7f8f5bc7055d6

    <div class="mb-3 mt-3">
        @Html.LabelFor(m => m.NoLote)
        @Html.TextBoxFor(m => m.NoLote, new { @class = "form-control" })
    </div>
    <div class="mb-3 mt-3">
        @Html.LabelFor(m => m.Descripcion)
        @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control" })
    </div>


    <div class="mb-3 mt-3">
        @Html.LabelFor(m => m.FechaExpiracion)
        @Html.TextBoxFor(m => m.FechaExpiracion, new { @class = "form-control", type = "date" })
    </div>
    <button type="submit" class="btn btn-primary">Agregar un nuevo Lote</button>
}

