@model WebApplication1.Models.TblReceta

@{
    ViewBag.Title = "Agregar Receta";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("agregarReceta", "Receta", FormMethod.Post))
{
    @Html.HiddenFor(m => m.IdReceta)
    <div class="mb-3 mt-3">
        @Html.LabelFor(m => m.Serie)
        @Html.TextBoxFor(m => m.Serie, new { @class = "form-control" })
    </div>
    <div class="mb-3 mt-3">
        @Html.LabelFor(m => m.FechaEmision)
        @Html.TextBoxFor(m => m.FechaEmision, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Agregar una Receta</button>
}



