@using WebApplication1.Models
@model List<Cargos>
@{
    ViewBag.Title = "Vista Cargos";
}

<h2>@ViewBag.Title</h2>
<hr />


@if (Model != null)
{
    <div class="container mt-3">
        <h2>Cargo</h2>
        @Html.ActionLink("Nuevo", "newCargo", "Cargo", new { @class = "btn btn-primary" })
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Cargo</th>
                    <th>Gestion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Cargo</td>
                        <td>
                            <input onclick="document.location.href='@Url.Content("~/Cargo/modificarCargo/" + item.IdCargo)'" type="button" value="Editar" class="btn btn-warning" />
                            <input onclick="EliminarCargo('@item.IdCargo','@item.Cargo');" type="button" value="Eliminar" class="btn btn-danger" />
</tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container mt-3">
        <h2>No hay cargos</h2>
    </div>
}
           <script>
    function EliminarCargo(id,Cargo) {
        if (confirm(`Esta Seguro de Eliminar A Este cargo : ${Cargo} ?????` )) {
            url = "@Url.Content("~/Cargo/eliminarCargo/")" + id;
            $.get(url).done((data) => {
                if (data == "Exito") {
                    document.location.href = "@Url.Content("~/Cargo/Index")";
                } else {
                    alert("Hubo un error");
                }
            });
        }
    }
           </script>
