@using WebApplication1.Models

@model List<TblPaciente>
    @{
    ViewBag.Title = "Vista Pacientes";

    }

    <h2>@ViewBag.Title</h2>
    <hr />


    @if (Model != null)
{
    <div class="container mt-3">
        <h2>Pacientes</h2>
        @Html.ActionLink("Nuevo", "newPaciente", "Pacientes", new { @class = "btn btn-primary" })
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>No. Afiliado</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Gestion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>

                    <td>@item.NoAfiliacion</td>
                    <td>@item.Nombre</td>
                    <td>@item.Direccion</td>
                    <td>@item.Telefono</td>
                    <td>
                        <input onclick="document.location.href='@Url.Content("~/Pacientes/modificarPaciente/" + item.IdPaciente)'" type="button" value="Editar" class="btn btn-warning" />
                        <input onclick="eliminarPaciente('@item.IdPaciente','@item.Nombre');" type="button" value="Eliminar" class="btn btn-danger" />

                    <td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container mt-3">
        <h2>No hay pacientes</h2>
    </div>
}
    <script>

    function eliminarPaciente(id,Pacientes) {

        if (confirm(`Esta Seguro de Eliminar A Este Paciente: ${Pacientes} ?????` )) {
            url = "@Url.Content("~/Pacientes/eliminarPaciente/")" + id;
            $.get(url).done((data) => {
                if (data == "Exito") {
                    document.location.href = "@Url.Content("~/Pacientes/Index")";
                } else {
                    alert("Hubo un error");
                }
            });
        }
    }
    </script>







