@using WebApplication1.Models
@model List<ProductosViewModel>
@{
    ViewBag.Title = "Productos";
}

<h2>@ViewBag.Title</h2>
<hr />


@if (Model != null)
{
    <div class="container mt-3">
        <h2>Productos</h2>
        @Html.ActionLink("Nuevo", "newProducto", "Producto", new { @class = "btn btn-primary" })
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Lote Producto</th>
                    <th>Clinica</th>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Descripcion</th>
                    <th>Imagen</th>
                    <th>Precio</th>
                    <th>Existencia</th>
                    <th>Gestion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.lote</td>
                        <td>@item.clinica</td>
                        <td>@item.Nombre</td>
                        <td>@item.marca</td>
                        <td>@item.Descripcion</td>
                        <td><img src="@item.Imagen" style="width:200px;height:200px;"/></td>
                        <td>@item.Precio</td>
                        <td>@item.Existencia</td>
                        <td>
                            <input onclick="document.location.href='@Url.Content("~/Producto/ActualizarProducto/" + item.IdProducto)'" type="button" value="Editar" class="btn btn-warning" />
                            <input onclick="document.location.href='@Url.Content("~/Producto/EliminarProducto/" + item.IdProducto)'" type="button" value="Eliminar" class="btn btn-danger" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container mt-3">
        <h2>No hay usuarios</h2>
    </div>
}
<script>
    function EliminarUsuario(id) {
        if (confirm("Esta Seguro de Eliminar A Este Producto ?????")) {
            url = "@Url.Content("~/Producto/EliminarProducto/")" + "/" + id;
            $.get(url).done();
        }
    }
</script>







