
@model WebApplication1.Models.TblConsulta
@{
    ViewBag.Title = "Agregar Consulta";
    List<SelectListItem> listadoPaciente = ViewBag.listadoPaciente;
    List<SelectListItem> listadoEmpleado = ViewBag.listadoEmpleado;
    List<SelectListItem> listadoClinica = ViewBag.listadoClinica;
    List<SelectListItem> listadoDiagnostico = ViewBag.listadoDiagnostico;
    List<SelectListItem> listadoReceta = ViewBag.listadoReceta;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Action", "Controller", FormMethod.Post, new { role = "form", @class = "" }))
{
<div class="mb-3 mt-3">
    @Html.LabelFor(m => m.IdPaciente)
    @Html.TextBoxFor(m => m.IdPaciente, new { @class = "form-control" })
</div>

<div class="mb-3 mt-3">
    @Html.DropDownList("IdPaciente", listadoPaciente, "Seleccionar un Paciente", new { @class = "form-control" })
</div>

<div class="mb-3 mt-3">
    @Html.DropDownList("IdEmpleado", listadoEmpleado, "Seleccionar un Empleado", new { @class = "form-control" })
</div>


<div class="mb-3 mt-3">
    @Html.DropDownList("IdClinica", listadoClinica, "Seleccionar una Clinica", new { @class = "form-control" })
</div>

<div class="mb-3 mt-3">
    @Html.DropDownList("IdDiagnostico", listadoDiagnostico, "Seleccionar un Diagnostico", new { @class = "form-control" })
</div>

<div class="mb-3 mt-3">
    @Html.DropDownList("IdReceta", listadoReceta, "Seleccionar una Receta", new { @class = "form-control" })
</div>

<button type="submit" class="btn btn-primary">Agregar </button>
}





