@using WebApplication1.Models

@model List<TblClinica>

    @{
    ViewBag.Title = "Clinicas";
    }

    <h2>@ViewBag.Title</h2>
    <hr />


    @if (Model != null)
{
    <div class="container mt-3">
        <h2>Clinica</h2>
        @Html.ActionLink("Nuevo", "newClinic", "Clinica", new { @class = "btn btn-primary" })
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Gestion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>

                    <td>@item.Nombre</td>
                    <td>@item.Direccion</td>
                    <td>
                        <input onclick="document.location.href='@Url.Content("~/Clinica/modificarClinica/" + item.IdClinica)'" type="button" value="Editar" class="btn btn-warning" />
                        <input onclick="eliminarClinica('@item.IdClinica', '@item.Nombre');" type="button" value="Eliminar" class="btn btn-danger" />

                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container mt-3">
        <h2>No hay usuarios</h2>
    </div>
}
    <script>
        function eliminarClinica(id,Clinica) {
        if (confirm(`Esta Seguro de Eliminar A Esta Clinica : ${Clinica} ?????` )) {
            url = "@Url.Content("~/Clinica/eliminarClinica/")" + id;
            $.get(url).done((data) => {
                if (data == "Exito") {
                    document.location.href = "@Url.Content("~/Clinica/Index")";
                } else {
                    alert("Hubo un error");
                }
            });
        }
    }
    </script>
