@using WebApplication1.Models

@model List<TblClinica>

@{
    ViewBag.Title = "Clinicas";
}

<h2>@ViewBag.Title</h2>
<hr />


@if (Model.Count > 0)
    
{
    <div class="container mt-3">
        <a href="~/Clinica/newClinic" class="btn btn-primary"><i class="fa-solid fa-plus"></i>Nueva Clinica</a>
        <br />
        <br />
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Gestion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.Nombre</td>
                        <td>@item.Direccion</td>
                        <td>
                            <input onclick="document.location.href='@Url.Content("~/Clinica/modificarClinica/" + item.IdClinica)'" type="button" value="Editar" class="btn btn-warning" />
                            <input onclick="eliminarClinica('@item.IdClinica', '@item.Nombre');" type="button" value="Eliminar" class="btn btn-danger" />

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container mt-3">
        <h2>No hay usuarios</h2>
    </div>
}
@section scripts{
    <script>
           const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

        function eliminarClinica(id, Clinica) {

            swalWithBootstrapButtons.fire({
                title: `Desea Eliminar La Clinica  ${Clinica}?`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Si',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = "@Url.Content("~/Clinica/eliminarClinica/")" + id;
                    $.get(url).done((data) => {
                        if (data == "Exito") {
                            document.location.href = "@Url.Content("~/Clinica/Index")";
                        } else {
                            swalWithBootstrapButtons.fire(
                                'Cancelado',
                                'La clinica NO Se Elimino :D',
                                'error'
                            )
                        }
                    });
                    swalWithBootstrapButtons.fire(
                        'Eliminada!',
                        'La clinica Se Ha Eliminado Exitosamente.',
                        'success'
                   )
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire(
                        'Cancelada',
                        'La clinica NO Se Elimino :D',
                        'error'
                   )
                }
           })


        }

    </script>
}
