@using WebApplication1.Models
@model Clinica
@{
    ViewBag.Title = "Agregar Clinica";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("agregarClinica", "Clinica", FormMethod.Post))
{

    @Html.HiddenFor(m=>m.idClinica)
<div class="mb-3 mt-3">
    @Html.LabelFor(m => m.nombre)
    @Html.TextBoxFor(m => m.nombre, new { @class = "form-control" })
</div>
<div class="mb-3 mt-3">
    @Html.LabelFor(m => m.direccion)
    @Html.TextBoxFor(m => m.direccion, new { @class = "form-control" })
</div>


<button type="submit" class="btn btn-primary">Agregar Clinica</button>
}
