<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">


            <a href="~/Home/Index" class="navbar-brand"><img src="~/images/3388856.png" alt="" width="30" height="24" class="d-inline-block align-text-top" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <div class="dropdown dropdown-toggle-split">
                    <a class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestion Menus
                    </a>
                    <ul class="dropdown-menu">

                        
                            <li class="dropdown-item">@Html.ActionLink("Home", "Index", "Home")</li>

                        </ul>
                </div>
                <div class="dropdown dropdown-toggle-split">
                    <a class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestion Usuarios
                    </a>
                    <ul class="dropdown-menu">
                        
                            <li class="dropdown-item">@Html.ActionLink("Roles", "Index", "Role")</li>
                        
                            
                                <li class="dropdown-item">@Html.ActionLink("Usuario", "Index", "Usuario")</li>
                            
                            </ul>
                </div>
                <div class="dropdown dropdown-toggle-split">
                    <a class="btn btn-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestion Consultas
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">@Html.ActionLink("Consulta", "Index", "Consulta")</li>
   
                        <li class="dropdown-item">@Html.ActionLink("Paciente", "Index", "Pacientes")</li>
                        <li class="dropdown-item">@Html.ActionLink("Diagnostico", "Index", "Diagnostico")</li>
                        <li class="dropdown-item">@Html.ActionLink("Examen", "Index", "Examen")</li>
                        <li class="dropdown-item">@Html.ActionLink("Receta", "Index", "Receta")</li>
                        <li class="dropdown-item">@Html.ActionLink("Habitacion", "Index", "Habitacion")</li>
                        <li class="dropdown-item">@Html.ActionLink("Habitaciones Disponibles", "HabitacionesDisponibles", "Habitacion")</li>
                        <li class="dropdown-item">@Html.ActionLink("Pacientes por Habitacion", "Index", "PacienteHabitacion")</li>
                    </ul>
                </div>
                <div class="dropdown dropdown-toggle-split">
                    <a class="btn btn-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestion Empleados
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">@Html.ActionLink("Empleados", "Index", "Empleados")</li>
                        <li class="dropdown-item">@Html.ActionLink("Cargos", "Index", "Cargo")</li>
                        <li class="dropdown-item">@Html.ActionLink("Clinicas", "Index", "Clinica")</li>
                    </ul>
                </div>
                <div class="dropdown dropdown-toggle-split">
                    <a class="btn btn-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestion Farmacias
                    </a>
                    <ul class="dropdown-menu">
                        
                            <li class="dropdown-item">@Html.ActionLink("Productos", "Index", "Producto")</li>
                        
                            <li class="dropdown-item">@Html.ActionLink("Lotes Productos", "Index", "LoteProducto")</li>
                            
                                <li class="dropdown-item">@Html.ActionLink("Marca", "Index", "Marca")</li>
                            
                                <li class="dropdown-item">@Html.ActionLink("Compras", "Index", "Compra")</li>
                                <li class="dropdown-item">@Html.ActionLink("Proveedores", "Index", "Proveedor")</li>
                                <li class="dropdown-item">@Html.ActionLink("Ventas", "Index", "Venta")</li>
                            </ul>
                </div>
                <div>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Hola " + @Session["User"].ToString() + "!", "Index", "Home", htmlAttributes: new { title = "Manage" })
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
                    </ul>
                    }
                </div>
            </div>
        </div>
    </nav>

    <div class="container body-content">


        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Desarrollo Web</p>
        </footer>
    </div>



    @RenderSection("scripts", required: false)
</body>
</html>
